@charset "UTF-8";
/*resetting margins and padding*/
html, body, ul, li, ol, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul, li, ol {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

a, a:hover, a:active {
  text-decoration: none;
  transition: 0.5s;
}

body {
  overflow-x: hidden;
  font-size: 18px;
  font-family: barlow;
  /* Style général des articles */
  /* Testimonials area */
  /* Bottom picture section */
  /* Footer and links */
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("photos/image-header.jpg");
  background-size: cover;
  background-position: top center;
  height: 29.88em;
  padding: 1.77em 1.33em;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: relative;
  text-align: right;
}
body header nav svg {
  position: relative;
}
body header nav .hamburger svg {
  opacity: 1;
}
body header nav .hamburger .hamburger__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
body header nav .hamburger .hamburger__navigation ul {
  display: none;
  background-color: white;
  position: absolute;
  text-align: center;
  top: 3em;
  left: 0.5em;
  right: 0.5em;
  padding: 1em;
  min-height: 2em;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header nav .hamburger .hamburger__navigation ul:before {
  content: " ";
  display: block;
  height: 2em;
  width: 1em;
  border-right: 1em solid hsl(0deg, 0%, 100%);
  position: absolute;
  top: -1em;
  right: 0px;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
  border-radius: -108px;
  border-bottom: 1em solid white;
}
body header nav .hamburger .hamburger__navigation ul .navigation__lastlink {
  background-color: hsl(51deg, 100%, 49%);
  border-radius: 10em;
  width: 9em;
  font-family: "Fraunces";
  text-transform: uppercase;
}
body header nav .hamburger .hamburger__navigation ul .navigation__lastlink a {
  color: hsl(212deg, 27%, 19%);
}
body header nav .hamburger .hamburger__navigation li {
  padding: 1em;
}
body header nav .hamburger .hamburger__navigation a {
  color: hsl(213deg, 9%, 39%);
}
body header nav .hamburger:hover svg {
  opacity: 0.5;
}
body header nav .hamburger:hover .hamburger__navigation {
  display: block;
}
body h1 {
  font-family: "Fraunces";
  font-weight: 900;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.22em;
  height: 98px;
  line-height: 1.23;
  letter-spacing: 6.25px;
  text-align: center;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  margin-top: 1em;
  margin-bottom: 1em;
}
body h1 + svg {
  margin-bottom: 2em;
}
body .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
body .container img {
  width: 100vw;
}
body .container article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 20vh;
  padding: 2.33em;
  text-align: center;
}
body .container article .article__content {
  max-width: 18.16em;
}
body .container article .article__content h2 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 2em;
  letter-spacing: 0.25px;
  line-height: 1.23;
  color: hsl(212deg, 27%, 19%);
}
body .container article .article__content p {
  letter-spacing: -0.0088em;
  line-height: 1.66;
  color: hsl(210deg, 4%, 67%);
}
body .container .photography, body .container .graphicdesign {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 33.33em;
  letter-spacing: 0.5px;
  line-height: 1.5em;
}
body .container .graphicdesign {
  background-image: url("photos/image-graphic-design.jpg");
  background-size: cover;
  background-position: top center;
}
body .container .graphicdesign h2, body .container .graphicdesign p {
  color: hsl(167deg, 40%, 24%);
}
body .container .graphicdesign article {
  padding: 3.27 1em 2.27em 1em;
}
body .container .photography {
  background-image: url("photos/image-photography.jpg");
  background-size: cover;
  background-position: top center;
}
body .container .photography h2, body .container .photography p {
  color: hsl(198deg, 62%, 26%);
}
body .transform a {
  padding: 0.8em;
  position: relative;
  z-index: 2;
  font-family: fraunces;
  font-size: 0.83em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: hsl(212deg, 27%, 19%);
}
body .transform a::before {
  content: " ";
  height: 0.55em;
  width: 7.61em;
  position: absolute;
  left: 50%;
  bottom: 0.5em;
  display: block;
  transform: translateX(-50%);
  margin-left: auto;
  z-index: -1;
  border-radius: 100px;
  background-color: hsl(51deg, 100%, 49%);
  opacity: 0.3;
  transition: 0.5s;
}
body .standoout a {
  padding: 0.8em;
  position: relative;
  z-index: 2;
  font-family: fraunces;
  font-size: 0.83em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: hsl(212deg, 27%, 19%);
}
body .standoout a::before {
  content: " ";
  height: 0.55em;
  width: 7.61em;
  position: absolute;
  left: 50%;
  bottom: 0.5em;
  display: block;
  transform: translateX(-50%);
  margin-left: auto;
  z-index: -1;
  border-radius: 100px;
  background-color: hsl(7deg, 99%, 70%);
  opacity: 0.3;
  transition: 0.5s;
}
body h3 {
  font-family: "Fraunces";
  font-weight: 900;
  width: 100vw;
  padding: 3em 2em;
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: hsl(232deg, 10%, 55%);
}
body .testi {
  align-items: center;
}
body .testi ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5em;
}
body .testi ul li {
  min-height: 19em;
  text-align: center;
}
body .testi ul li img {
  width: 4em;
  height: 4em;
  border-radius: 100px;
}
body .testi ul li p {
  max-width: 18.16em;
  font-weight: lighter;
  line-height: 1.77em;
  letter-spacing: -0.0072em;
  color: hsl(213deg, 9%, 39%);
}
body .testi ul strong {
  font-family: "Fraunces";
  font-weight: 900;
  display: block;
  letter-spacing: -0.0072em;
}
body .testi ul .testi__list--label {
  font-size: 0.8em;
  letter-spacing: -0.0055em;
  color: hsl(210deg, 4%, 67%);
}
body .fourpictures {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  line-height: 0;
}
body .fourpictures img {
  width: 50vw;
  height: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 19.44em;
  background-color: hsla(168deg, 34%, 41%, 0.5);
}
body footer .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 11.44em;
  width: 16.5em;
}
body footer .links svg {
  scale: 1.7;
}
body footer .links ul {
  display: flex;
  justify-content: space-around;
}
body footer .links .footer__links--primary {
  justify-content: space-between;
  width: 100%;
  height: 4em;
}
body footer .links .footer__links--primary a {
  color: hsl(168deg, 34%, 41%);
}
body footer .links ul:last-of-type {
  justify-content: space-evenly;
  width: 80%;
}
body footer .links ul:last-of-type svg {
  fill: hsl(168deg, 34%, 41%);
}

/* Bigger screens */
@media screen and (min-width: 900px) {
  body header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 44.44em;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #3cbdfe;
  }
  body header nav {
    align-items: center;
  }
  body header nav .hamburger {
    display: flex;
    width: 56vw;
    justify-content: flex-end;
  }
  body header nav .hamburger svg {
    display: none;
  }
  body header nav .hamburger .hamburger__button {
    display: none;
  }
  body header nav .hamburger .hamburger__navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }
  body header nav .hamburger .hamburger__navigation ul {
    background-color: transparent;
    position: relative;
    text-align: center;
    top: 0;
    padding: 0em;
    min-height: 2em;
    transition: 1s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body header nav .hamburger .hamburger__navigation ul:before {
    content: " ";
    display: none;
  }
  body header nav .hamburger .hamburger__navigation ul .navigation__lastlink {
    padding: 1em 2em;
    border-radius: 100px;
    font-family: "Fraunces";
    text-transform: uppercase;
    color: hsl(212deg, 27%, 19%);
    background-color: hsl(0deg, 0%, 100%);
    transition: 0.5s;
  }
  body header nav .hamburger .hamburger__navigation ul .navigation__lastlink a {
    color: hsl(212deg, 27%, 19%);
  }
  body header nav .hamburger .hamburger__navigation ul .navigation__lastlink:hover {
    background-color: hsla(0deg, 0%, 100%, 0.5);
    transition: 0.5s;
  }
  body header nav .hamburger .hamburger__navigation ul .navigation__lastlink:hover a {
    color: hsl(0deg, 0%, 100%);
  }
  body header nav .hamburger .hamburger__navigation ul li {
    padding: 1em;
  }
  body header nav .hamburger .hamburger__navigation ul a {
    color: hsl(0deg, 0%, 100%);
  }
  body header nav .hamburger .hamburger:hover {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }
  body header nav h1 {
    margin-top: 2.5em;
    margin-bottom: 1em;
    font-size: 3.1em;
  }
  body header nav .transform {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
  body header nav .transform article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 50vw;
    height: 50vw;
    padding: 4em;
    align-items: center;
    padding: 0;
  }
  body header nav .transform article a:hover::before {
    opacity: 1;
  }
  body header nav .transform article .article__content {
    max-width: 60%;
  }
  body header nav .transform img {
    width: 50vw;
    height: 50vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body header nav .standoout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    margin-top: -5px;
    line-height: 0.8;
  }
  body header nav .standoout article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 50vw;
    height: 50vw;
    padding: 4em;
    align-items: center;
    padding: 0;
  }
  body header nav .standoout article a:hover::before {
    opacity: 1;
  }
  body header nav .standoout article .article__content {
    max-width: 60%;
  }
  body header nav .standoout img {
    width: 50vw;
    height: 50vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body header nav .graph-photo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
  }
  body header nav .graph-photo .graphicdesign, body header nav .graph-photo .photography {
    width: 50vw;
    height: 50vw;
    padding: 3em;
  }
  body header nav .graph-photo .graphicdesign p, body header nav .graph-photo .photography p {
    height: 4em;
    max-width: 18.16em;
  }
  body header nav .graph-photo .graphicdesign p, body header nav .graph-photo .photography p {
    max-width: 22.5em;
  }
  body header nav .testi {
    padding: 4em 0;
  }
  body header nav .testi ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 90%;
  }
  body header nav .testi ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  body header nav .testi ul li p {
    height: 6em;
    max-width: 19.44em;
  }
  body header nav .fourpictures {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
  }
  body header nav .fourpictures picture {
    width: 25%;
  }
  body header nav .fourpictures picture img {
    width: 25vw;
    height: 30vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body header nav footer .footer__links--primary {
    width: 30%;
  }
  body header nav footer .footer__links--primary a:hover {
    color: hsl(0deg, 0%, 100%);
  }
  body header nav footer .footer__links--secondary {
    width: 30%;
  }
  body header nav footer .footer__links--secondary a svg {
    transition: 0.5s;
  }
  body header nav footer .footer__links--secondary a:hover svg {
    fill: hsl(0deg, 0%, 100%);
  }
}/*# sourceMappingURL=style.css.map */