// Primary

$first--color: hsl(7, 99%, 70%);
$second--color: hsl(51, 100%, 49%);
$graphic-section: hsl(167, 40%, 24%);
$photo-section: hsl(198, 62%, 26%);
$footer: hsl(168, 34%, 41%);
$footer-lighter: hsla(168,34%,41%,0.5);

// Neutral

$third--color: hsl(212, 27%, 19%);
$darker--text: hsl(213, 9%, 39%);
$dark--text: hsl(232, 10%, 55%);
$greys: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

$small: 800px;
$medium: 1200px;

/*resetting margins and padding*/ 

html, body, ul, li, ol, h1, h2, h3, h4, h5, h6{
    margin:0;
    padding:0;
}

ul, li, ol{
    list-style-type:none;
}

*{
    box-sizing:border-box;
}

// basic title
@mixin title{
     font-family: "Fraunces";
     font-weight:900;
}

// backgrounds
@mixin backgrounds($lien){
    background-image:url($lien);
    background-size:cover;
    background-position:top center;
}

// colored title
@mixin artlink($color){

    font-family:fraunces;
    font-size:0.83em;
    color:$third--color;
    text-transform:uppercase;
    padding:0.8em;
    position:relative;
    z-index:2;

    &::before{
        content:" ";
        display:block;
        background-color:$color;
        height: 0.55em;
        width:7.61em;
        left:50%;
        bottom:0.78em;
        transform:translateX(-50%);
        position:absolute;
        border-radius:100px;
        margin-left:auto;
        z-index:-1;
        opacity:0.3;
    }
  
}

// positionning

@mixin position($dir, $justify, $align){
    display:flex;
    flex-direction:$dir;
    justify-content:$justify;
    align-items:$align;
}


a, a:hover, a:active { 
    text-decoration:none;
}


body{
    font-size:18px;
    font-family:barlow;
    

    header{
        @include position(column, space-between, center);
        @include backgrounds('photos/image-header.jpg');

        width:100%;
        height: 29.88em;
        padding:1.77em 1.33em;

        nav{
            @include position(row, space-between, flex-start);
            width:100%;
            position:relative;
            text-align:right;

            svg { 
                position:relative;
           }
       
           li{ 
            display:none;
            color:$dark--text;
            font-size:1.11em;

            &:last-of-type{
                @include title;
                background-color:$second--color;
                color:$third--color;
                padding:1em 2em;
                border-radius:100px;
                text-transform:uppercase
            }
        }

            ul:hover{
                @include position(column, space-between, center);
                position:absolute;
                background-color:$white;
                padding:2.16em;
                height:16.94em;
                width:90vw;
                text-align:center;

                svg{
                    display:none;
                }              
                
            li{
                  display:block;

            }
        }

     }

        h1{ 
            @include title;

            width:fit-content;
            font-size: 2.22em;
            height:98px;
            line-height:49.32px;
            letter-spacing:6.25px;
            text-align:center;
            text-transform:uppercase;
            color:$white;
        }

        h1 + svg{
            margin-bottom:2em;
        }
    }

    .transform, .standoout, .graph-photo, .testi {
        @include position(column, flex-start, flex-start);

        img{
            width:100vw;
        }

        article{
            padding: 4em 1.33em;
            text-align:center;

            h2{
                @include title;

                font: { 
                    size:2em; 
                }
               
                letter-spacing:0.25px;
                color: $third--color;
            }

            p{
                color:$greys;
                letter-spacing:-0.0088em;
                line-height:1.66;
            }

        }

        %graph-photo{
            @include position(column, flex-end, center);

            height: 33.33em;
            letter-spacing:0.5px;
            line-height: 1.5em;

        }
        .graphicdesign{
           @extend %graph-photo;   

           @include backgrounds('photos/image-graphic-design.jpg');
     
           h2, p{ color: $graphic-section;
        }

        article{
            padding: 3.27 1em 2.27em 1em;

        }
    }

        .photography{
            @include backgrounds('photos/image-photography.jpg');
            @extend %graph-photo;   

            h2, p{ color: $photo-section;
            }
        }
    }

    .transform { 
     
        a { 
        @include artlink($second--color);
     }

    }
     .standoout { 
     
        a { 
        @include artlink($first--color);
     }

    }

    h3{
        @include title;
        font-size:20px;
        color:$dark--text;
        text-transform:uppercase;
        text-align:center;
        width:100vw;
        padding: 3em 2em;
        letter-spacing:2px;
    }

}

.testi ul{
    @include position(column, space-evenly, center);
    padding:2em;

        li{  
            min-height:19em;
            text-align:center;
            
            img{ width:4em;
                 height:4em;
                 border-radius:100px;
            }

            p{
                color:$darker--text;
                line-height:1.77em;
                font-weight:lighter;
                letter-spacing:-0.0072em;
            }

            strong{
                @include title;
                display:block;
                letter-spacing:-0.0072em;
            }

            .testi__list--label{
                color:$greys;
                font-size:0.8em;
                letter-spacing:-0.0055em;
            }
        }
}

    .fourpictures{
        display:flex;
        flex-wrap:wrap;
        justify-items:center;
        align-content:center;
        line-height:0;

        img{
           width:50vw; 
           height:50vw;
           object-fit:cover;
        }
    }

    footer{
        @include position(column, space-evenly, flex-start);
        align-items:center;
        padding:2em;
        background-color:$footer-lighter;
        height:19.44em; 
        svg{
            scale:1.7;
        }

        ul{ display:flex;
        padding:1em;
    }
        
        ul:first-of-type{
         
            justify-content:space-between;
            width:100%;
           
            a{ color: $footer;}

        }

        ul:last-of-type{
            justify-content:space-evenly;
            width:90%;
            
        }
    }


@media screen and (min-width:800px){ 
    
  
  body{
    font-size:18px;
    
    header{ 
       height:44.44em;
       background-size:auto 100%;
       background-repeat:no-repeat;
       background-color:#3cbdfe;


    ul {
        display:block;

        li{
             display:block;
            }
    }

    }

    .transform{
        img{
            width:50vw;
    }

}
        
    }
    












