/*resetting margins and padding*/
html, body, ul, li, ol, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul, li, ol {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

a, a:hover, a:active {
  text-decoration: none;
}

body {
  font-size: 18px;
  font-family: barlow;
  overflow-x: hidden;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("photos/image-header.jpg");
  background-size: cover;
  background-position: top center;
  height: 29.88em;
  padding: 1.77em 1.33em;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: relative;
  text-align: right;
}
body header nav svg {
  position: relative;
}
body header nav li {
  display: none;
}
body h1 {
  font-family: "Fraunces";
  font-weight: 900;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.22em;
  height: 98px;
  line-height: 49.32px;
  letter-spacing: 6.25px;
  text-align: center;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
}
body h1 + svg {
  margin-bottom: 2em;
}

.transform, .standoout, .graph-photo, .testi {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.transform img, .standoout img, .graph-photo img, .testi img {
  width: 100vw;
}
.transform article, .standoout article, .graph-photo article, .testi article {
  padding: 4em 1.33em;
  text-align: center;
}
.transform article h2, .standoout article h2, .graph-photo article h2, .testi article h2 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 2em;
  letter-spacing: 0.25px;
  color: hsl(212deg, 27%, 19%);
}
.transform article p, .standoout article p, .graph-photo article p, .testi article p {
  color: hsl(210deg, 4%, 67%);
  letter-spacing: -0.0088em;
  line-height: 1.66;
}
.transform .photography, .transform .graphicdesign, .standoout .photography, .standoout .graphicdesign, .graph-photo .photography, .graph-photo .graphicdesign, .testi .photography, .testi .graphicdesign {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 33.33em;
  letter-spacing: 0.5px;
  line-height: 1.5em;
}
.transform .graphicdesign, .standoout .graphicdesign, .graph-photo .graphicdesign, .testi .graphicdesign {
  background-image: url("photos/image-graphic-design.jpg");
  background-size: cover;
  background-position: top center;
}
.transform .graphicdesign h2, .transform .graphicdesign p, .standoout .graphicdesign h2, .standoout .graphicdesign p, .graph-photo .graphicdesign h2, .graph-photo .graphicdesign p, .testi .graphicdesign h2, .testi .graphicdesign p {
  color: hsl(167deg, 40%, 24%);
}
.transform .graphicdesign article, .standoout .graphicdesign article, .graph-photo .graphicdesign article, .testi .graphicdesign article {
  padding: 3.27 1em 2.27em 1em;
}
.transform .photography, .standoout .photography, .graph-photo .photography, .testi .photography {
  background-image: url("photos/image-photography.jpg");
  background-size: cover;
  background-position: top center;
}
.transform .photography h2, .transform .photography p, .standoout .photography h2, .standoout .photography p, .graph-photo .photography h2, .graph-photo .photography p, .testi .photography h2, .testi .photography p {
  color: hsl(198deg, 62%, 26%);
}

.transform a {
  font-family: fraunces;
  font-size: 0.83em;
  color: hsl(212deg, 27%, 19%);
  text-transform: uppercase;
  padding: 0.8em;
  position: relative;
  z-index: 2;
}
.transform a::before {
  content: " ";
  display: block;
  background-color: hsl(51deg, 100%, 49%);
  height: 0.55em;
  width: 7.61em;
  left: 50%;
  bottom: 0.5em;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 100px;
  margin-left: auto;
  z-index: -1;
  opacity: 0.3;
  transition: 1s;
}

.standoout a {
  font-family: fraunces;
  font-size: 0.83em;
  color: hsl(212deg, 27%, 19%);
  text-transform: uppercase;
  padding: 0.8em;
  position: relative;
  z-index: 2;
}
.standoout a::before {
  content: " ";
  display: block;
  background-color: hsl(7deg, 99%, 70%);
  height: 0.55em;
  width: 7.61em;
  left: 50%;
  bottom: 0.5em;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 100px;
  margin-left: auto;
  z-index: -1;
  opacity: 0.3;
  transition: 1s;
}

h3 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 20px;
  color: hsl(232deg, 10%, 55%);
  text-transform: uppercase;
  text-align: center;
  width: 100vw;
  padding: 3em 2em;
  letter-spacing: 2px;
}

.testi ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
}
.testi ul li {
  min-height: 19em;
  text-align: center;
}
.testi ul li img {
  width: 4em;
  height: 4em;
  border-radius: 100px;
}
.testi ul li p {
  color: hsl(213deg, 9%, 39%);
  line-height: 1.77em;
  font-weight: lighter;
  letter-spacing: -0.0072em;
}
.testi ul strong {
  font-family: "Fraunces";
  font-weight: 900;
  display: block;
  letter-spacing: -0.0072em;
}
.testi ul .testi__list--label {
  color: hsl(210deg, 4%, 67%);
  font-size: 0.8em;
  letter-spacing: -0.0055em;
}

.fourpictures {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-content: center;
  line-height: 0;
  width: 100vw;
}
.fourpictures img {
  width: 50vw;
  height: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  align-items: center;
  padding: 2em;
  background-color: hsla(168deg, 34%, 41%, 0.5);
  height: 19.44em;
}
footer svg {
  scale: 1.7;
}
footer ul {
  display: flex;
  padding: 1em;
}
footer ul:first-of-type {
  justify-content: space-between;
  width: 100%;
}
footer ul:first-of-type a {
  color: hsl(168deg, 34%, 41%);
}
footer ul:last-of-type {
  justify-content: space-evenly;
  width: 90%;
}
footer ul:last-of-type svg {
  fill: hsl(168deg, 34%, 41%);
}

@media screen and (min-width: 800px) {
  body {
    font-size: 18px;
  }
  body header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 44.44em;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #3cbdfe;
  }
  body header h1 {
    font-size: 3.1em;
    margin-top: 3em;
  }
  body header ul {
    display: flex;
    justify-content: space-between;
    width: 30em;
  }
  body header ul svg {
    display: none;
  }
  body header ul li {
    display: block;
    color: hsl(0deg, 0%, 100%);
    padding: 1em;
    font-size: 1em;
  }
  body header ul li:last-of-type {
    background-color: hsl(0deg, 0%, 100%);
    padding: 1em 2em;
    border-radius: 100px;
    color: hsl(212deg, 27%, 19%);
    font-family: fraunces;
    text-transform: uppercase;
    transition: 1s;
  }
  body header ul li:last-of-type:hover {
    background-color: hsla(0deg, 0%, 100%, 0.5);
    transition: 1s;
  }
  body .transform {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
  body .transform article {
    text-align: left;
    width: 50vw;
    height: 50vw;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  body .transform article a:hover::before {
    opacity: 1;
    transition: 1s;
  }
  body .transform img {
    width: 50vw;
    height: 50vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .standoout {
    margin-top: -5px;
    line-height: 0.8;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  body .standoout article {
    text-align: left;
    width: 50vw;
    height: 50vw;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  body .standoout article a:hover::before {
    opacity: 1;
    transition: 1s;
  }
  body .standoout img {
    width: 50vw;
    height: 50vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .graph-photo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
  }
  body .graph-photo .graphicdesign, body .graph-photo .photography {
    width: 50vw;
    height: 50vw;
    padding: 3em;
  }
  body .graph-photo .graphicdesign p, body .graph-photo .photography p {
    height: 4em;
  }
  body .testi ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body .testi ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  body .testi ul li p {
    padding: 0em 4.7em;
  }
  body .fourpictures {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
  }
  body .fourpictures picture {
    width: 25%;
  }
  body .fourpictures picture img {
    width: 25vw;
    height: 24.83;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body footer .footer__links--primary {
    width: 30%;
  }
  body footer .footer__links--primary a {
    transition: 1s;
  }
  body footer .footer__links--primary a:hover {
    color: hsl(0deg, 0%, 100%);
    transition: 1s;
  }
  body footer .footer__links--secondary {
    width: 30%;
  }
  body footer .footer__links--secondary a svg {
    transition: 1s;
  }
  body footer .footer__links--secondary a:hover svg {
    fill: hsl(0deg, 0%, 100%);
    transition: 1s;
  }
}/*# sourceMappingURL=style.css.map */